.header-section {
  background-color:gainsboro;
}

.header-container {
  background-color: inherit;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo p{
  font-family: 'Rampart One', cursive;
  color: #000;
  font-size: 1.4em;
  margin: 0;
  margin-right: 20px;
}

.logo img {
  width: 2em;
}

.footer-section {
  background-color:gainsboro;
  padding: 15px;
}

.footer-container {
  background-color: inherit;
}

.literary-references {
  padding: 30px 10px;
}
